<div class="jumbotron">
<h1>About Us</h1>
    <br>
<p>This is my beta version of a OneMonthRails App</p>
    <p>This is a learning initiative to understand what Ruby on Rails is and apply it to make web applications. In light of this goal, I am taking a One Month Rails course to further my knowledge of Ruby on Rails.</p><p> I would love for you to join me on my pursuit of Rails bliss</p>
</div>